# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Environment files
.env
service-account.json

# Logs and temp files
*.log
*.tmp
.DS_Store

# Ignore build and cache files
dist/
build/
coverage/

# Ignore VSCode settings (optional)
.vscode/
